<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <link href="../public/css/style.css" rel="stylesheet">
  <!-- <link href="../public/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>

<body>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <h2 align="center">Welcome to Coding Competition #2 </h2>
  <h4 align="center">by Shinara Laila, FSD MEAN KKEM OCT</h4>

    <form style="text-align: center; margin-top: 5%;" method="get" action="/home">  
     
    <button type="Home">Go to Home</button>
  </form>
  <hr>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

</body>


</html>